@page "/"
@page "/pantries"
@inject IPantryService PantryService
@inject IJSRuntime JsRuntime

<PageTitle>Pantries</PageTitle>

<div class="row gy-2 gy-md-4">
    <div class="col-12">
        <h1 class="float-start">Pantries</h1>
        <a class="btn btn-primary float-end" href="pantry">
            <span class="oi oi-plus"></span>
        </a>
    </div>
    <div class="col-12">
        <table class="table table-striped">
            <SortingTableHead Sorting="Sorting">
                <tr>
                    <SortingTableHeader CssClass="align-top" @bind-SortingParameter="Sorting.Name" @bind-SortingParameter:after="UpdateList" Text="Name">
                        <InputText class="form-control" @bind-Value="Filter.Name" @bind-Value:after="UpdateList" />
                    </SortingTableHeader>
                </tr>
            </SortingTableHead>
            <tbody>
                @foreach (var pantry in Pantries)
                {
                    <tr>
                        <td>
                            <a href="@($"pantry/{pantry.Id}")"><span>@pantry.Name</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-xxl-3">
    </div>
</div>

@code {
    public IEnumerable<PantryDto> Pantries { get; set; } = new List<PantryDto>();

    public PantryFilterDto Filter { get; set; } = new PantryFilterDto();

    public PantrySortingDto Sorting { get; set; } = new PantrySortingDto();

    protected override void OnInitialized()
    {
        UpdateList();
    }

    private void UpdateList()
        => Pantries = PantryService.GetList(
            filter: Filter,
            sorting: Sorting);
}
